<div class="universo-container">

  <div class="espacio-estrellas"></div>

  
  <div class="sol"></div>

  
  <div class="orbita orbita-tierra" [style.transform]="'translate(-50%, -50%) rotate(' + rotacionTierra + 'deg)'">
    <div class="tierra">
     
      <div class="orbita-luna" [style.transform]="'rotate(' + rotacionLuna + 'deg)'">
        <div class="luna"></div>
      </div>
    </div>
  </div>

 
  <div class="orbita orbita-cometa" [style.transform]="'translate(-50%, -50%) rotate(' + rotacionCometa + 'deg)'">
    <div class="cometa"></div>
  </div>


</div>