<div class="escenario-botanico">
    <div class="maceta-container">
      
      
      <div class="planta" [ngStyle]="{'height': alturaTallo + '%', 'transform': 'rotate(' + inclinacionViento + 'deg)'}">
        
        
        <div class="flor" [ngStyle]="{'transform': 'scale(' + tamanoFlor + ')'}">
          <div class="petalo p1"></div>
          <div class="petalo p2"></div>
          <div class="petalo p3"></div>
          <div class="petalo p4"></div>
          <div class="centro-flor"></div>
        </div>
        
        <div class="tallo"></div>
        
        
        <div class="hoja hoja-izq"></div>
        <div class="hoja hoja-der"></div>
      </div>
      
      
      <div class="maceta"></div>
    </div>
    
   
  </div>